DBS=Database name
DBS_HOST=Database server host url
DBS_PORT=Database server host port 
DBS_USERNAME=Database admin auth username 
DBS_PASSWORD=Database admin auth password 
SECRET_KEY =Your application secret key 