{% extends 'base.html' %}

{% block content %}
{% include 'tabs.html'%}
{% endblock %}
{% block navigation %}
    <a href="{{ url_for('admin.controller', page =page, section='exams' ) }}" class="nav-link">Exams</a> 
    <a href="{{ url_for('admin.controller', page =page )}}" class="nav-link">E-notes</a>
    <a href="{{ url_for('admin.controller', page =page, section='grading' ) }}" class="nav-link">Grading</a> 
    <a href="{{ url_for('admin.controller', page =page, section='subjects' ) }}" class="nav-link">Subjects</a>
{% endblock %} 
{% block sectionHead %}Sections{% endblock %}