<section>
    <div class="profile-image">
        <img src="{{ url_for('static', filename ='img/std.png' ) }}" alt="Meltus" />
    </div>
    <table class="lean-table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Meltus Bwire</td>
            </tr>
            <tr>
                <td>Class</td>
                <td>1 West</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>Male</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>071234567</td>
            </tr>
            <tr>
                <td>Admission Number</td>
                <td>7043</td>
            </tr>
            <tr>
                <td>Student Access Status</td>
                <td>Active</td>
            <tr>
                <td>Birtd Certificate Number</td>
                <td>13234587</td>
            </tr>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-danger mt-3">Reset Password</button>

</section>