{% if not placeholders %} {% set placeholders = {} %} {%endif%}
{% if not data %} {% set data = {} %} {%endif%}

{% if form %}
    <form action="" method="post" onsubmit="postForm(event)" name="ctrl-form" enctype="multipart/form-data" class="needs-validation" novalidate> 
        {% for field in form(data) %}  
            {% if field.type =='CSRFTokenField' or field.type =='HiddenField'%} {{field()}} 
            {% else%} 
            <div class="form-group mb-4" style="position: relative;">  
                {{field.label(class_ ='form-label')}}   
                {%if field.type =='SelectField'%}  {{field(class_ ="custom-select", required ='true')}}
                {% elif field.type =='SelectMultipleField'%}  {{field(class_ ="custom-select", size =1, required ='true')}}
                {%elif field.type =='FileField'%}
                <button class="custom-file-field" type="button" onclick ="openFile(this)" data-click="#{{field.id}}" data-form="ctrl-form"><span class="span">Choose file</span><span id="file-label">{%if data %} {{data['filename']}} {%else%}No file chosen{%endif%}</span></button>
                {{field(hidden =true, accept=accepts, **{'data-file-label': '#file-label'})}}
                <input type="hidden" name="file_uploading" value="{{field.name}}"> 
                {% else%}  
                {{field(class_ ="form-control", value =data[field.name], placeholder =placeholders[field.name],required ='true')}}
                {%endif%}
                <small class="d-block" id="{{field.name}}-helper" data-node ="small" style="position: absolute;left: 0; bottom: -1.25rem; font-size: 85%;"></small>
            </div>  
            {%endif%}
        {% endfor %}
        <button class="btn btn-success" type="submit" id="save">Save</button>
    </form>
{% else %}    
form field
{% endif %} 