<section>
    <a href="">Add Result</a>
    <table class="lean-table">
        <thead>
            <tr>
                <th>Year</th>
                <th>Class</th>
                <th>Exam</th>
                <th>Score</th>
                <th>Total</th>
                <th>Grade</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <th>2021</th>
                <th>1</th>
                <th>CAT 1</th>
                <th>200</th>
                <th>240</th>
                <th>A</th>
                <th>
                    <a href="">Transcript</a>
                    <a href="">Modify</a>
                    <a href="">Remove</a> 
                </th> 
            </tr> 
        </tbody>
    </table>
</section>
