{% extends 'base.html' %} 
{% block content %}  
{% include 'tabs.html'%}
{% endblock %}
{% block navigation %} 
    <a href="{{ url_for('admin.controller', page =page, section ='grades' ) }}" class="nav-link">Grades</a> 
    <a href="{{ url_for('admin.controller', page =page, section ='carousels' ) }}" class="nav-link">Carousels</a> 
    <a href="{{ url_for('admin.controller', page =page, section ='time-table' ) }}" class="nav-link">Timetable</a>
    <a href="{{ url_for('admin.controller', page =page, section ='departments' ) }}" class="nav-link">Departments</a>
    <a href="{{ url_for('admin.controller', page =page, section ='news-and-events' ) }}" class="nav-link">News &amp; Events</a> 
    <a href="{{ url_for('admin.controller', page =page, section ='school-calendar' ) }}" class="nav-link">School Calendar</a>
{% endblock %} 
{% block sectionHead %}Sections{% endblock %}