<table class="lean-table text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mathematics</td>
            <td>101</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kiswahili</td>
            <td>102</td>
        </tr>
        <tr>
            <td>3</td>
            <td>English</td>
            <td>103</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Biology</td>
            <td>232</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Chemistry</td>
            <td>233</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Physics</td>
            <td>234</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Geography</td>
            <td>302</td>
        </tr>
        <tr>
            <td>8</td>
            <td>French</td>
            <td>501</td>
        </tr> 
    </tbody>
</table>
<p>8 subjects</p>
<button class="btn btn-warning">Print</button>