{% extends 'base.html' %}
{% block content %}
    <div class="tabs">
        <div class="d-flex tab-labels">
            <button type="button" data-uri="{{ url_for('admin.users', position =page|lower) }}" class="btn-tab {% if action =='list' %}active{%endif%}" onclick="activateTab(this);" id="list">List</button> 
            <button type="button" data-uri="{{ url_for('admin.users', position =page|lower, action ='new' ) }}" class="btn-tab {% if action =='new' %}active{%endif%}" onclick="activateTab(this);">New</button>  
        </div>
        <div class="tab-content py-5" id="tabContent">
            {% if action =='view'%} {% include 'view.html'%} 
            {% elif action == 'edit' or action == 'new'%} {% include 'form.html'%} 
            {% else %} {% include 'list.html'%}
            {% endif %}
        </div>
    </div>
{% endblock content%}
