<div class="view-tabs">
    <div class="d-flex tab-labels">
        <button type="button" data-uri="" class="btn-tab {% if section =='bio' %}active{%endif%}" onclick="activateTab(this, '{{page}}/view');">Bio</button> 
        {% if page | lower  =="students"%} 
        <button type="button" data-uri="/subjects" class="btn-tab {% if section =='subjects' %}active{%endif%}" onclick="activateTab(this, '{{page}}/view');">Subjects</button> 
        <button type="button" data-uri="/performance" class="btn-tab {% if section =='performance' %}active{%endif%}" onclick="activateTab(this, '{{page}}/view');">Performance</button> 
        <button type="button" data-uri="/transcript" class="btn-tab {% if section =='transcript' %}active{%endif%}" onclick="activateTab(this, '{{page}}/view');">Transcript</button> 
        {% elif page | lower  =="staff"%} 
        <button type="button" data-uri="/contacts" class="btn-tab {% if section =='contacts' %}active{%endif%}" onclick="activateTab(this, '{{page}}/view');">Contacts</button> 
        <button type="button" data-uri="/role" class="btn-tab {% if section =='role' %}active{%endif%}" onclick="activateTab(this, '{{page}}/view');">Role</button> 
        <button type="button" data-uri="/permissions" class="btn-tab {% if section =='permissions' %}active{%endif%}" onclick="activateTab(this, '{{page}}/view');">Permissions</button> 
        {% endif %}
    </div>
    <div class="view-tab-content py-4" id="viewTabContent">
        {% if section =='bio' %} {% include 'bio.html'   %}
        {% elif section =='performance' %} {% include 'performance.html'   %}
        {% elif section =='subjects' %} {% include 'subjects.html'   %}
        {% elif section =='transcript' %} {% include 'transcript.html'   %}
        {% endif %} 
    </div>
</div>