/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Oswald&display=swap'); */
*, *::before, *::after{
    list-style: none;
    appearance: none;
    text-decoration: none; 
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: 0; 
}

html{
    font-size: 14px;
    scroll-behavior: smooth;
}

:root{
    --color-danger: #ff7782; 
    --color-success: #41f1b6;
    --color-warning: #ffbb55;   
    --color-white: #ffffff; 
    --color-info-dark: #7d8da1; 
    --color-primary:rgba(14, 75, 155, 0.6);
    --color-primary-variant:rgba(14, 75, 155, 0.466);
    --color-dark: #363949e0; 
    --color-dark-variant: #677483; 
    --bg-color-light: #f6f6f9; 
    --color-light: rgba(132, 139, 200, .18);
    --sidebar-offset:180px;
    --rightbar-offset: 18rem;
    --box-shadow: 1px 1px 5px var(--color-light);
    --theme-color: #334568;
    --theme-accent: rgb(173, 84, 129);
    --theme-accent-light: rgba(255, 105, 180, 0.075); 
    --blue-light: #7380ec;
    --light-gray: rgba(132, 139, 200, .18); 
}


html, body{
    min-height: 100%;
}  


.color-danger{
    color: var(--color-danger);
}

.color-success{
    color: var(--color-success);
}

.color-warning{
    color: var(--color-warning);
}
.bg-primary{
    background-color: var(--color-primary)!important;
}
.bg-danger{
    background-color: var(--color-danger)!important;
}
.text-theme{
    color: var(--theme);
}
.text-theme-accent{
    color: var(--theme-accent)
}
.bg-theme-accent-light{
    background-color: rgba(255, 105, 180, 0.075); 
}
.bg-theme-accent{
    background-color: var(--theme-accent);
}
.bg-white{
    background-color: var(--white);
}
.bg-theme{
    background-color: var(--theme-color);
}
.bg-success{
    background-color: var(--color-success)!important;
}

img, a{
    display: block;
} 

img{
    width:100%;
}

p{
    color: var(--color-dark);
    margin: 0;
}
textarea{
    resize: none;
}
.btn-svg svg{
    width: 14px; height: 14px; 
}
.btn-svg-green svg{
    fill: green;
}
.btn-svg-orange svg{
    fill: orange;
}
.btn-svg-red svg{
    fill: rgb(185, 37, 37);
}
.btn-svg-blue svg{
    fill: rgb(49, 49, 214);
}
.btn-svg-dodger svg{
    fill: rgb(20, 127, 233);
}
.btn-svg-purple svg{
    fill: purple;
}
.btn-svg-red:hover svg{
    fill: rgb(255, 0, 179);
}