{% macro metamacro(title, description, keywords, canonical) %}<title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="robots" content="index">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{', '.join(keywords)}}">
    <link rel="canonical" href="{{url_for(canonical)}}">{% endmacro%} 

{% macro insights_macro(cards) %}<title>{{title}}</title>
    {%for card in cards%}
    <div class="custom-card d-flex"> 
        <h2 class="custom-card-title">{{card['title']}}</h2>
        <div class="custom-card-content d-flex"> 
            <span class="{{card['icon-bg']}} custom-card-icon">{{card['icon']}}</span>
            <div class="custom-card-body"> 
                <h3 class="card-count">{{card['value']}}</h3>
                <p class="text-muted card-description">{{card['label']}}</p>
            </div>
        </div>
    </div>
{%endfor%}{% endmacro%} 
