{% extends "public/base.html" %}
{% block title %}Privacy Policy{% endblock title %}
{% block content %}
<div class='text-blue container'> 
    <p>The information Butula School collect from users enable us to personalize and improve our services.This document describes the type of user data we collect and what we do with it.</p>
    <section class='data-collection'> 
        <h2>The information we collect</h2>
        <div>
            <h3>Personal information you provide to us</h3>
            <p>We receive and store any information you enter on this website or provide to us in any other way. The type of personal data collected may include your name, billing address, email address and telephone numbers that are entered on this website, sent to us by email or entered in the process of paying for an order.</p>
            
        </div>
        <div>
            <h3>Personal information collected automatically</h3>
            <p>We receive and store certain type of information whenever you interract with this website. We also automatically receive and record information from your browser, including your hardware model, operating system version, unique device identifiers and mobile network information including phone number, browser type and the page you requested. This information is collected and stored using Google Analytics. Google Analytics is a web analysis service provided by Google. Google utilises the data provided to track and examine the use of this website, to prepair reoports on its activities and share them with them with other Google services. Google may use the data collected to contextualize and personalize the ads of its own advertising network.</p> 
        </div>
        <div>
            <h3>Email Communications</h3>
            <p>We may receive a confirmation when you open an email from this website if your computer supports this type of program. We may use this communication to make emails more interesting and helpful.</p> 
        </div>
        <div>
            <h3>Browser Cookies</h3>
            <p>Cookies are alphanumeric identifiers that we transfer to your computer's hard drive through your browser and tell us how and when pages in our site are visited and by how many people. We do not combine site usage information collected  through cookies with other collected personal information </p> 
        </div> 
    </section>
    <section class='data-use'>
        <h2>How we use information we collect</h2>
        <p>We use the information we collect to provide, maintain, protect, improve our services and develop new ones. We also use this information to offer you tailored content.</p>
        <p>When you contact us, we may keep a record of your communication to help solve any issues you might be facing. We may use your email address to inform you about our services such as letting you know about upcoming changes or improvements.</p>
        <p>We use information collected from cookies and other technologies to improve your user experience and the overral quality of our services.</p>
        <p>We will ask for your consent before using information for a purpose other than those that are out in this Privacy Policy.</p>
        <p>We will use information as required by law. </p>
    </section>
</div>
{% endblock content %}