{% extends "public/base.html" %}
{% block title %}Terms of Use{% endblock title %}
{% block content %}
<div class="text-blue container"> 
    <section class='section'>
        <h2>Best rate guarantee</h2>
        <p>We guarantee that you will always get our best rates when you reserve a room on our own website www.ButulaSchool.co.ke. If you find a better rate on another website we will match it and give you a further 10% discount.</p>
    </section>
    <section class='section'>
        <h2>Terms &amp; Conditions</h2>
        <p>The guarantee applies to all reservations made on our website www.butulaschool.co.ke. If you find a better rate at the same School, room category number of persons, arrival date, departure date and with the same terms and conditions on another website within 12 hours from when reservation was made we kindly ask you to send a written claim to our reservations department at info@butulaschool.co.ke not later than 72 hours before arrival.</p>
        <p>In your claim which should not be 24 hours from when the reservation was made, we ask you provide the complete address of the website with the better price, a proof of the better price for example through a screenshot and also a confirmation for your reservation made on your wesite. Kindly also include your contact information. After receipt we will get back to you within 2 business days.</p>
        <p>This guarantee is not valid for reservations and rates that are not availble to the general public. This excludes, for example offers on websites where membership is necessary, corporate discounts, rates offered within group-, charter- or bonus programs, rates obtained at an auction or through a similar process and rates only available through the use of a coupon or any other campaign offer not available to the general public.</p>
        <p>For more information please contact our reservation department at 254 12346789 or email info@butulaschool.co.ke</p>
    </section>
</div>
{% endblock content %}